* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.header {
  padding: 35px 0;
}
.header-wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 35px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: block;
  width: 50px;
  height: 50px;
  transition: 0.2s;
}
.header-logo:hover {
  transform: scale(1.08);
  transition: 0.2s;
}
.header .nav-list {
  list-style-type: none;
  display: flex;
}
.header .nav-list__item {
  margin-left: 12px;
  margin-right: 12px;
}
.header .nav-list__item:first-child {
  margin-left: 0;
}
.header .nav-list__item:last-child {
  margin-right: 0;
}
.header .nav-list__link {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  position: relative;
}
.header .nav-list__link:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  left: 0;
  bottom: -8px;
  transform: scaleX(0);
  transition: 0.2s;
}
.header .nav-list__link:hover:after {
  transform: scaleX(1);
  transition: 0.2s;
}

.banner {
  position: absolute;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-title {
  color: #fff;
  text-align: center;
  font-size: 60px;
}
.banner-subtitle {
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-top: 15px;
}

.works {
  margin-top: 90vh;
}
.works-title {
  text-align: center;
  font-size: 64px;
  color: #fff;
  margin-bottom: 115px;
}
.works .work {
  text-align: center;
  margin: 100px 0;
}
.works .work-title {
  color: #fff;
  font-size: 30px;
  margin-bottom: -40px;
}
.works .work-img {
  width: 320px;
  height: 300px;
  display: block;
  margin: 0 auto;
}
.works .work-description {
  color: #fff;
  font-size: 20px;
  margin-top: -35px;
  margin-bottom: 40px;
}
.works .work-btn {
  text-decoration: none;
  display: inline-block;
  padding: 6px 15px;
  position: relative;
  border: 2.5px solid #fff;
  color: #fff;
  text-transform: uppercase;
  transition: 0.4s;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 20px;
}
.works .work-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
}
.works .work-btn:hover:after {
  border-color: #fff;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

.me {
  margin: 150px 0;
}
.me-title {
  color: #fff;
  text-align: center;
  font-size: 64px;
  margin-bottom: 30px;
}
.me-description {
  font-size: 24px;
  color: #fff;
  text-align: center;
  line-height: 35px;
}
.me-skills-title {
  color: #fff;
  font-size: 26px;
  text-align: center;
  margin-top: 40px;
}
.me-skills-list {
  list-style-type: none;
  margin-top: 20px;
}
.me-skills-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-top: 8px;
}
.me .checkbox {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.contacts {
  padding-bottom: 80px;
}
.contacts-title {
  text-align: center;
  color: #fff;
  font-size: 64px;
}
.contacts-list {
  color: #fff;
}
.contacts-list .contact {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin: 15px 0;
}
.contacts-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.contacts .contact-link {
  color: #fff;
  text-decoration: none;
}

.up {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2.5px solid #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: 0.15s;
}
.up-img {
  width: 50px;
  height: 50px;
}
.up:hover {
  transform: scale(1.05);
  transition: 0.15s;
}

@media (max-width: 500px) {
  .header-wrapper {
    display: block;
  }
  .header-wrapper .header-logo {
    margin: 0 auto;
    width: 80px;
    height: 80px;
  }
  .header-wrapper .nav-list {
    justify-content: center;
    margin-top: 40px;
  }
}
@media (max-width: 390px) {
  .nav-list {
    display: block !important;
  }
  .nav-list__item {
    margin: 15px !important;
    text-align: center;
  }
  .banner-title {
    font-size: 54px;
  }
}/*# sourceMappingURL=index.css.map */